body {
  font-family: "Public Sans", sans-serif;
}
h1 {
  color: #753422;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font: bolder;
  line-height: 30px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  color: #b05b3b;
  font-family: "Oswald", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  font: lighter;
}
.float-left {
  float: left;
}
.weather-app-wrapper {
  max-width: 800px;
  margin: 0 auto;
}
.weather-app {
  max-width: 800px;
  margin: 80px auto;
  padding: 50px;
  border: 1px solid #d88c08;
  background-color: #ffebc9;
  border-radius: 5%;
  margin-bottom: 0;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 8px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  color: #753422;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
